*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* NavBar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/*Home section*/
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('img3.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 10%;
}
.headings{
    font-family: century;
    font-style: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 15px white;
    font-weight: bold;
}

/*About section*/
#about{
    font-size: x-large;
    background-color: rgba(0,0,0,0.9);
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 0px;
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: 10px;
    padding: 10px; 
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

/*Portfolio section*/
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.9);
    color: rgb(255, 255, 255);
    align-items: center;
    padding: 20px;
    font-size: xx-large;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}
.gallery img:hover{
    box-shadow: 0 0 20px rgb(0, 183, 255);
    zoom: 110%;
}

/*Service section*/
h1{
    color: rgb(0, 0, 0);
    font-size: 60px;
}
h1.headings{
    color: white;
    font-size: xx-large;
}
#services{
    background-color: rgba(0,0,0,0.9);
    font-size:large;
    display: flex;
    color: rgb(0, 0, 0);
    flex-direction: column;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(0,183,255) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 0 0 20px rgb(0, 183, 255);
}

.box img{
    width: 80px;
    height: 80px;
    border-color: white;
    padding: 10px;
}

/*Contact section*/
* {
    box-sizing:content-box;
    margin: none;
  }
  #contact{
    background-color: rgba(0,0,0,0.9);
  }
  p{
      text-align: center;
      color: white;
  }
  h2{
      text-align: center;
      color: white;
      font-size: 60px;
  }
  label{
      color: white;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    background-color: white;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background: rgb(0, 183, 255);
    box-shadow: 0 0 20px rgb(0, 183, 255);
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  } /*
#contact{
    font-size: x-large;
    align-content:center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.9);
    color: white;
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 50px 50px 50px;
}
.input{
    padding: 12px;
    margin: 15px 20px 20px 20px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}
#send{
    padding: 10px;
    width: 2px;
    margin: 40px;
    border: none;
    outline: none;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 50px white, 0 0 50px white, 0 0 50px white;
}


    <section id="contact">
    <h1 class="headings">CONTACT</h1>
    <form action="" class="form"></form>
    <input type="text" name="name" class="input" placeholder="Inserisci il tuo nome">
    <input type="email" name="email" class="input" placeholder="Inserisci la tua email">
    <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Inserisci il tuo messaggio"></textarea>
     <input type="submit" value="INVIA" id="invia">
</section>
*/